/* page.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    margin-top: 121px; /* ロゴの画像の上部マージンを121pxに設定 */
    width: 484px; /* ロゴの幅を指定 */
    height: 372px;
    height: auto; /* 高さを自動調整 */
  }
  
  /* ユーザーネーム入力フィールドとパスワード入力フィールドのスタイル */
  .inputField {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px; /* 幅を指定 */
    margin-bottom: 20px; /* 下部マージンを設定 */
  }
  
  .loginButton {
    background-color: #F1A5A5; /* ピンク色 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px; /* 文字の大きさを指定 */
    font-weight: bold;
    margin-top: 20px; /* 上部マージンを設定 */
    cursor: pointer;
    width: 200px; /* 幅を指定 */
    height: 50px; /* 高さを指定 */
  }
  
  .loginButton:hover {
    opacity: 0.9; /* ログインボタンのホバースタイル */
  }
  